@use "sass:math";
@import "../../../../../../color.scss";


* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}


.friendList {
  background-color:$medium;
  max-height: calc(100vh - 90px);
  overflow-y: auto;
  overflow-x: hidden;

  .friend {
    display: flex;
    align-items: center;
    padding: 8px 5%;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
    .userName {
      margin-left: 10px;
    }
    .buttons {
      display: flex;
      margin-left: auto;
      align-items: center;
    }
  }
}
