<div class="anyrendermain {{this.isHighLight ? 'high-ligh' : ''}}">
  <div [ngSwitch]="embed.renderType" *ngFor="let embed of msg.embeds">
    <img *ngSwitchCase="'gif'" class="imgS" [src]="this.imgSource" />

    <a
    class="hyperLink"
      *ngSwitchCase="'url'"
      (click)="this.NavigateUrl(embed.content)"
    >
    {{embed.content}}
    </a>
    <span *ngSwitchCase="'text'">
      {{ embed.content }}
    </span>

    <span class="emoji" *ngSwitchCase="'emoji'">
      {{ embed.content }}
    </span>
  </div>
</div>
<iframe
  *ngIf="this.youtubeEmbedUrl"
  class="yotubeembed"
  [src]="this.youtubeEmbedUrl"
  allowfullscreen
>
</iframe>
