@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "color.scss";

* {
  font-family: "Roboto", sans-serif;
  // font-family: "Inter", sans-serif;
  font-size: 14px;
  color: white;
  scroll-behavior: smooth;
}

body {
  background-color: $low;
  overflow: hidden;
  max-height: 100vh;
  max-width: 100vw;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////

.context-menu {
  box-shadow: 0px 0px 23px 5px rgb(0 0 0 / 39%);
  background-color: rgb(28 28 28);
  position: absolute;
  z-index: 1000000;
  min-width: 220px;
  border-radius: 10px;
  padding: 12px 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.context-menu-item {
  cursor: pointer;
  padding: 5px 10%;
  margin-bottom: 3px;
  word-break: keep-all;
  white-space: nowrap;
  text-align: initial;
  transition: all 0.3s;

  &:hover {
    background-color: rgb(46, 46, 46);
  }
}


.btn {
  color: white;
  width: 100%;
  height: 50px;
  text-align: center;
  background: rgb(46 69 78);
  font-weight: 600;
  font-size: 0.93rem;
  transition: all 0.3s;
  word-break: keep-all;
  cursor: pointer;
}

.btn:hover,
.btn.active {
  background: rgb(54, 83, 95);
}

.btn:disabled {
  cursor: not-allowed;
  background: rgb(31, 47, 54);
  color: #9c9c9c;
}

.btn-success {
  background-color: rgba(0, 255, 63, 0.25);

  &:hover {
    background-color: rgba(0, 255, 63, 0.35);
  }

  &.active {
    background-color: rgba(13, 13, 26, 0.55);
  }

  &:disabled {
    background-color: rgba(0, 88, 22, 0.35);
  }
}

.btn-dark {
  background-color: rgba(13, 13, 26, 0.25);

  &:hover,
  &.active {
    background-color: rgba(13, 13, 26, 0.55);
  }

  &:disabled {
    background-color: rgba(13, 13, 26, 0.55);
  }
}

.btn-danger {
  background-color: rgba(255, 0, 0, 0.25);

  &:hover,
  &.active {
    background-color: rgba(255, 0, 0, 0.35);
  }

  &:disabled {
    background-color: rgba(97, 0, 0, 0.35);
  }
}

.btn-rounded {
  border-radius: 0.7em;
}

.btn-delete {
  text-align: center;
  transition: all 0.4s;
  font-size: 1.7em;

  &:hover {
    &::after {
      color: rgb(255, 0, 0);
    }
  }

  &::after {
    content: "🞭";
    color: #c90000;
    transition: all 0.4s;
  }
}

.btn-confirm {
  font-size: 1.4em;
  font-weight: 900;

  &::after {
    color: #00c800;
    content: "✔";
  }
}

.btn-small {
  font-size: 13px;
  font-weight: 700;
  height: auto;
  min-width: 75px;
  padding: 9px 10px;
}

.input {
  color: white;
  width: 100%;
  box-shadow: 0px 0px 23px -8px black;
  border-radius: 7px;
  background: #20262d;
  padding: 4px 15px;
  transition: all 0.2s;
  min-height: 40px;
  width: calc(100% - 30px);
  border: 1px solid transparent;

  &:focus {
    transform: scale(1.02);
  }

  &.alert {
    border: 1px solid red !important;
  }
}

.emoji {
  font-size: 25px;
  cursor: default;
}

.poRela {
  position: relative;
}

.max-height-100P {
  max-height: 100%;
}

.poAbso {
  position: absolute;
}

.text-low-opacity {
  opacity: 60%;
}

.d-flex {
  display: flex;
}

.overlay {
  background-color: black;
  height: 100vh;
  left: 0;
  opacity: 0.6;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
}

.hyperLink,
.link {
  color: #0074a2;
  font-weight: 500;
  cursor: pointer;
}

///--------- ICONS - ICONS -----------//

.icon-trash {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 24 24' width='24px' height='24px'%3E%3Cg id='surface847128'%3E%3Cpath style=' fill:rgb(90.588236%25,29.803923%25,23.529412%25);fill-opacity:1;' d='M 9.601562 0 L 8.398438 1.199219 L 3.601562 1.199219 C 2.878906 1.199219 2.398438 1.679688 2.398438 2.398438 C 2.398438 3.121094 2.878906 3.601562 3.601562 3.601562 L 20.398438 3.601562 C 21.121094 3.601562 21.601562 3.121094 21.601562 2.398438 C 21.601562 1.679688 21.121094 1.199219 20.398438 1.199219 L 15.601562 1.199219 L 14.398438 0 Z M 3.601562 6 L 3.601562 21.601562 C 3.601562 22.921875 4.679688 24 6 24 L 18 24 C 19.320312 24 20.398438 22.921875 20.398438 21.601562 L 20.398438 6 Z M 8.398438 8.398438 C 9.121094 8.398438 9.601562 8.878906 9.601562 9.601562 L 9.601562 20.398438 C 9.601562 21.121094 9.121094 21.601562 8.398438 21.601562 C 7.679688 21.601562 7.199219 21.121094 7.199219 20.398438 L 7.199219 9.601562 C 7.199219 8.878906 7.679688 8.398438 8.398438 8.398438 Z M 15.601562 8.398438 C 16.320312 8.398438 16.800781 8.878906 16.800781 9.601562 L 16.800781 20.398438 C 16.800781 21.121094 16.320312 21.601562 15.601562 21.601562 C 14.878906 21.601562 14.398438 21.121094 14.398438 20.398438 L 14.398438 9.601562 C 14.398438 8.878906 14.878906 8.398438 15.601562 8.398438 Z M 15.601562 8.398438 '/%3E%3C/g%3E%3C/svg%3E%0A");
}

.yotubeembed {
  width: 383px;
  height: 215px;
}

.giphy {
  max-width: 300px;
}

.imgS {
  max-width: 300px;
}


app-left-bar .imgContainer {

  &:hover,
  .active {
    .ImageContainer-Circle {
      border-radius: 40% !important;
    }
  }
}

app-left-bar .imgContainer.active {
  .ImageContainer-Circle {
    border-radius: 40% !important;
  }
}

@media (max-width: 760px) {
  .yotubeembed {
    width: 200px;
  }

  .imgS {
    width: 200px;
  }

  .giphy {
    width: 200px;
  }
}

//--RESETS--////--RESETS--////--RESETS--////--RESETS--////--RESETS--//
//--RESETS--////--RESETS--////--RESETS--////--RESETS--////--RESETS--//
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
b,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: #030303 #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6);
  border: 2 solid transparent;
  border-radius: 10px;
}

/* ----------------------------------------------------------------------------------------------------
Super Form Reset
A couple of things to watch out for:
- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs
----------------------------------------------------------------------------------------------------*/

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;

  /* Browsers have different default form fonts */
  font-size: 13px;
  font-family: Arial;
}

/* Remove the stupid outer glow in Webkit */
input:focus {
  outline: 0;
}

/* Box Sizing Reset
-----------------------------------------------*/

/* All of our custom controls should be what we expect them to be */
input,
textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type="reset"],
input[type="button"],
input[type="submit"],
input[type="checkbox"],
input[type="radio"],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Text Inputs
-----------------------------------------------*/

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {}

/* Button Controls
-----------------------------------------------*/

input[type="checkbox"],
input[type="radio"] {
  width: 13px;
  height: 13px;
}

/* File Uploads
-----------------------------------------------*/

input[type="file"] {}

/* Search Input
-----------------------------------------------*/

/* Make webkit render the search input like a normal text field */
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none;
}

/* Buttons
-----------------------------------------------*/

button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}

/* Textarea
-----------------------------------------------*/

textarea {
  /* Move the label to the top */
  vertical-align: top;

  /* Turn off scroll bars in IE unless needed */
  overflow: auto;
}

/* Selects
-----------------------------------------------*/

select {}

select[multiple] {
  /* Move the label to the top */
  vertical-align: top;
}

//-----TOOL TIP -- TOOL TIP -----//
/* setup tooltips */
.tooltip {
  position: relative;
}

.tooltip:before,
.tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.tooltip:after {
  border-right: 6px solid transparent;
  border-bottom: 6px solid rgba(0, 0, 0, 0.75);
  border-left: 6px solid transparent;
  content: "";
  height: 0;
  top: 20px;
  left: 20px;
  width: 0;
}

.tooltip:before {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  color: #fff;
  content: attr(tooltip);
  font-weight: 700 !important;
  font-size: 12px !important;
  padding: 8px 10px;
  top: 26px;
  white-space: nowrap;
}

/* the animations */
/* fade */
.tooltip:after,
.tooltip:before {
  transform: translate3d(0, -10px, 0);
  transition: all 0.15s ease-in-out;
}

.tooltip:hover:after,
.tooltip:hover:before {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}