<div @container class="si-container" *ngIf="!this.isHide">
  <div>
    <div *ngIf="Title && Title.length > 0" id="si-title">
      <span >{{ Title }}</span>
    </div>
    <p *ngIf="Title && Title.length > 0" class="content">
      {{ Message }}
    </p>
    <div *ngIf="Buttons.length > 0" class="buttons">
      <button
        (click)="button.ClickHandle($event)"
        *ngFor="let button of Buttons"
        [style]="button.Style"
        [class]="button.Class ?? ''"
        >
        {{ button.Text }}
      </button>
    </div>
  </div>
</div>
<div (click)="CanClickOutToClose ? Hide() : ''" @overlay *ngIf="!this.isHide" class="backgroundOverlay"></div>
